<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">Thor</h1>
            <div class="healthbar">
                <div 
                    class="healthbar text-center"  
                    style="background-color: green; margin: 0; color: white;"
                    :style="{width: playerVida + '%'}">
                    {{ playerVida }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">THANOS</h1>
            <div class="healthbar">
                <div
                    class="healthbar text-center"
                    style="background-color: green; margin: 0; color: white;"
                    :style="{width: thanosVida + '%'}">
                    {{ thanosVida }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!jogoRodando">
        <div class="small-12 columns">
            <button id="iniciar-jogo" @click="iniciarJogo">INICIAR JOGO</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" @click="atacar">ATACAR</button>
            <button id="special-attack" @click="ataqueEspecial">ATAQUE ESPECIAL</button>
            <button id="heal" @click="defesa">DEFESA</button>
            <button id="give-up" @click="desistir">DESISTIR</button>
        </div>
    </section>
    <section class="row log" v-if="rodadas.length > 0">
        <div class="small-12 columns">
            <ul>
                <li 
                    v-for="rodada in rodadas"
                    :class="{'player-turn': rodada.isPlayer, 'monster-turn': !rodada.isPlayer}"
                >
                    {{ rodada.text }}    
                </li>
            </ul>
        </div>
    </section>
</div>
<script src="app.js"></script>
</body>
</html>